{% extends 'index.html' %}

{% block main-title %}
    New question
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block content %}
    <form class="d-flex flex-column gap-4">
        <div class="row">
            <div class="col-2 mt-2">
                <span>Title</span>
            </div>
            <div class="col-10">
                <div class="form-floating">
                <textarea class="form-control is-invalid" id="floatingTextarea2"
                          style="height: 50px; max-height: 100px;" required placeholder=""></textarea>
                    <label for="floatingTextarea2">Title:</label>
                    <div class="invalid-feedback">
                        Error!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-2">
            <span>
                Text
            </span>
            </div>
            <div class="col-10">
                <div class="form-floating">
                <textarea class="form-control is-invalid" id="floatingTextarea2"
                          style="height: 200px; max-height: 400px;" required placeholder=""></textarea>
                    <label for="floatingTextarea2">Text:</label>
                    <div class="invalid-feedback">
                        Error!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mt-2">
                <span>Tags</span>
            </div>
            <div class="col-10">
                <div class="form-floating">
                <textarea class="form-control is-invalid" id="floatingTextarea2"
                          style="height: 50px; max-height: 100px;" required placeholder=""></textarea>
                    <label for="floatingTextarea2">Tags:</label>
                    <div class="invalid-feedback">
                        Error!
                    </div>
                </div>
                <button class="btn btn-primary rounded-0 mt-3 mb-3" type="submit">ASK!</button>
            </div>
        </div>
    </form>
{% endblock %}