{% extends 'layouts/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block main-title %}
    New Questions
{% endblock %}

{% block subtitle %}
    <a href="{% url 'hot' %}">Hot Questions</a>
{% endblock %}

{% block content %}

    {% for question in questions %}

        {% include 'components/question-item.html' %}

    {% endfor %}

    {% include 'components/pagination.html' %}

{% endblock %}

{% block tags %}
    {% for tag in tags %}
        {% include 'components/tag.html' %}
    {% endfor %}
{% endblock %}

{% block best_members %}
    {% for member in members %}
        {% include 'components/member.html' %}
    {% endfor %}
{% endblock %}