{% extends 'index.html' %}
{% load bootstrap5 %}


{% block main-title %}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    {% include 'components/big-question-item.html' %}

    {% for answer in answers %}
        {% include 'components/answer-item.html' %}
    {% endfor %}

    {% include 'components/pagination.html' %}

    <form action='{% url 'question' question.id %}' method="POST">
        {% csrf_token %}
        {% if request.user.is_authenticated %}
            {% bootstrap_form form %}
            {% buttons %}
                <button class="btn btn-primary rounded-0" type="submit">Answer</button>
            {% endbuttons %}
        {% endif %}
    </form>

{% endblock %}