{% extends 'index.html' %}
{% load static %}
{% load bootstrap5 %}

{% block main-title %}
    Settings:
{% endblock %}

{% block subtitle %}
    <span class="fs-2">{{ request.user.username }}</span>
{% endblock %}

{% block content %}
    <form class="d-flex flex-column gap-4" action="{% url 'settings' %}" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <img src="
        {% if request.user.profile.avatar %}
            {{ request.user.profile.avatar.url }}
        {% else %}
            {% static 'img/200img.png' %}
        {% endif %}" alt="avatar" class="img-fluid"
             style="max-height: 200px; max-width: 200px;">


        {% buttons %}
            <button class="btn btn-primary rounded-0 mt-3 mb-3" type="submit">Save</button>
        {% endbuttons %}
    </form>
{% endblock %}