{% extends 'components/card-info.html' %}
{% load static %}

{% block like-type %}
    answer-like-button
{% endblock %}

{% block dislike-type %}
    answer-dislike-button
{% endblock %}


{% block like-disabled %}
    {% if request.user.profile.id in answer.liked_profiles or request.user.is_anonymous %}
        disabled
    {% endif %}
{% endblock %}

{% block dislike-disabled %}
    {% if request.user.profile.id in answer.disliked_profiles or request.user.is_anonymous %}
        disabled
    {% endif %}
{% endblock %}


{% block avatar %}
    {% if answer.profile.avatar %}
        {{ answer.profile.avatar.url }}
    {% else %}
        {% static 'img/200img.png' %}
    {% endif %}
{% endblock %}

{% block item %}
    {{ answer.like_count }}
{% endblock %}
