{% load static %}

<img src="{% static '/img/200img.png' %}" class="img-fluid" alt="avatar">
<div class="d-flex align-items-center justify-content-center gap-1">
    <span class="fs-5">5</span>
    <div class="d-flex flex-column gap-0">
        <button type="button" class="btn btn-sm p-0 m-0">
            <span class="fs-5" style="line-height: 0;">▲</span>
        </button>
        <button type="button" class="btn btn-sm p-0 m-0">
            <span class="fs-5" style="line-height: 0;">▼</span>
        </button>
    </div>
</div>